<% if @offers %>
  <div id="list">
    <%if @offers.empty? %>
      <h3>No offers available</h3>
    <% else %>
      <h1>Offers list</h1>
       
      <table class="table table-bordered table-striped">
        <tr>
          <th>Title</th>
          <th class="column-center">Thumbnail</th>
          <th class="column-center">Payout</th>
        </tr>
       
      <% @offers.each do |offer| %>
        <tr>
          <td class="vertical-align"><%= offer.title %></td>
          <td class="vertical-align column-center"><%= image_tag(offer.thumbnail) %></td>
          <td class="vertical-align column-center"><%= offer.payout %></td>
        </tr>
      <% end %>
      </table>
       
      <br>
    <% end %>
  </div>
<% end %>