<!DOCTYPE html>
<html>
<head>
  <title>FyberCodeChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main-container" class="container">
    <div class="row">
      <div class="container">
        <h1>Fyber Code Challenge</h1>
        <p>For more information visit <a href="https://github.com/gutomcosta/fyber-offer-api">the project page.</a></p>
      </div>
    </div>
    <div class="row">
      <%= yield %>
    </div>

  </div>

</body>
</html>
